@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-dark-blue: #096EBB; 
    --color-bg-light-blue: #74B0EC; 
    --color-bg-red: #FB9999;
    --color-bg-red: #FB9999;
    --color-bg-green: #99FBA8;
    --color-text-white: #FFFFFF;
    --color-text-black: #000000;
    --color-shadow: rgba(0, 0, 0, 0.35);
}

body {
    position: relative;
    height: 100vh;
    font-family: "Fredoka", sans-serif;
    background-color: var(--color-text-white);
}

.container {
    height: 100%;
}

.section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.section__title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem 4rem 2rem;
    background-color: var(--color-bg-dark-blue);
}

.section__content {
    height: 50%;
    padding: 2rem 2rem;
    background-color: var(--color-text-white);
}

.img__accueil {
    width: 4rem;
}

.img_nuage {
    position: absolute;
    top: 4.5rem;
    width: 80%;
    z-index: 0;
}

.figure_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
}

.figcaption_content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.5rem .75rem;
    border-radius: 5rem 1.5rem 1.5rem 5rem;
    outline: 10px solid var(--color-bg-light-blue);
    background-color: var(--color-text-white);
    color: var(--color-text-black);
}

.img_requin {
    position: absolute;
    left: -10px;
    top: -5px;
    width: 8.5rem;
    z-index: 10;
}

.div_profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.para_profil {
    font-size: 2rem;
    font-weight: bolder;
}

.ul__btns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.li__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
    border-radius: 20rem;
    background-color: var(--color-bg-light-blue);
    cursor: pointer;
}

.li__btn:hover {
    box-shadow: 1px 1px 20px var(--color-bg-light-blue);
}

.div__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border-radius: 20rem;
    padding: .5rem;
    background-color: var(--color-bg-dark-blue);
}

.p__btn {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-text-white);
}


@media screen and (min-width: 600px) {
    .figcaption_content {
        width: 30rem;
    }

    .li__btn {
        width: 35rem;
    }
}
