.main__title {
    text-align: center;
    color: var(--color-text-white);
}

.top__section {
    display: flex;
    justify-content: space-between;
}

.img__accueil {
    width: 6rem;
}

.medium__section {
    display: flex;
    justify-content: center;
}

.img_requin {
    width: 19rem;
    z-index: 10;
}

.bottom__section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    font-family: "Fredoka", sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--color-text-white);
    cursor: pointer;
}

.blue {
    background-color: var(--color-bg-light-blue);
}
.blue:hover {
    box-shadow: 1px 1px 20px var(--color-bg-light-blue);
}

.gold {
    background-color: var(--color-bg-gold);
}
.gold:hover {
    box-shadow: 1px 1px 20px var(--color-bg-gold);
}

.img_bgnuage {
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: -1;
}

@media screen and (min-width: 500px) {
    .img_bgnuage {
        top: 0;
    }

    .img_requin {
        width: 25rem;
    }
}

@media screen and (min-width: 768px) {
    .img_bgnuage {
        top: -5rem;
    }

    .img_requin {
        width: 30rem;
    }
}