#qcm__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem;
    color: var(--color-text-white);
}

.qcm__section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qcm__section__title {
    width: 100%;
}

.arrow {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--color-text-white);
    cursor: pointer;
}

.img__accueil {
    width: 3rem;
}

.h2__title {
    text-align: center;
    margin-top: 1rem;
}

.h3_sous_title {
    text-align: center;
    margin-top: .5rem;
}

.qcm__figure_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.qcm__figcaption_content {
    position: relative;
    padding: 1.5rem .75rem;
    border-radius: 2.5rem;
    font-size: .75rem;
    text-align: center;
    font-weight: 700;
    background-color: var(--color-text-white);
    color: var(--color-text-black);
}

.qcm__figcaption_content::before {
    content: url('assets/languette_bulle.svg');
    position: absolute;
    top: 1rem;
    left: -1.25rem;
    width: 2rem;
}

.qcm__medium__section {
    display: flex;
    justify-content: center;
    z-index: -2;
}

.img_requin {
    width: 10rem;
    z-index: 10;
}

.ul_qcm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.qcm__li {
    width: 17.5rem;
    padding: .75rem 1rem;
    border-radius: 20rem;
    list-style-type: none;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    background-color: var(--color-bg-light-blue);
    cursor: pointer;
}

.qcm__li:hover {
    background-color: var(--color-bg-blue-2);
}

.btn-next {
    width: 17.5rem;
    padding: .75rem 1rem;
    border-radius: 20rem;
    list-style-type: none;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    background-color: var(--color-bg-gold);
    cursor: pointer;
}

.btn-next:hover {
    background-color: var(--color-bg-gold-hover);
}



.qcm__end {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--color-bg-opacity-black);
}

.div__end {
    position: relative;
    width: 80%;
    padding: 4rem;
    text-align: center;
    background-color: var(--color-text-white);
    color: var(--color-text-black);
}

.para_end {
    padding-top: 2rem;
}

.cross__svg {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 3rem;
    cursor: pointer;
}

.span__score {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-bg-blue-1);
}